<div class="card mb-2">
    <div class="button">
        <!-- <h3>{{ task.title }}{{task.apellido}}</h3> -->
            <button (click)="task.hide = !task.hide" class="Descrip">
               Descripcion
            </button> 
            <button (click)="deleteTask(task)" class="Eliminar">
                Eliminar
            </button>
    </div>
  
    <div class="Descripción" [hidden]="task.hide">
        <p >
            Nombre: {{task.title}}<br>
            apellido: {{task.apellido}} <br>
            Correo: {{task.email}} <br>
            Celular: {{task.celular}} <br>
            Fecha:  {{task.fecha}} <br>
            Hora: {{task.hora}} <br><br>
            Descripción:<br>
            {{task.description}}
          </p>
    </div>
  
</div>