.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

app-task-form, app-task-list
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
}

