.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50vw;
  height: 95vh;

}

.formulario{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  width: 80%;
  height: 90vh;
}

/* 
form{
  width: 80%;
  height: 90%;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1,
              -13px -13px 20px #ffffff;

} */

label{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;


}


:root {
   --color-primary-shadow-dark: #cfcfcf;
   --color-primary-shadow-light: #fff;
}


input {
   outline: none;
   padding: 1rem 3rem;
   border-radius: 50px;
   border: none;
   box-shadow: inset 0.6rem 0.6rem 1.2rem #cfcfcf,
      inset -0.6rem -0.6rem 1.2rem #fff;
   transition: all 0.3s ease-in-out;
}

input:hover {
   box-shadow: inset 0.2rem 0.2rem 0.4rem #cfcfcf,
      inset -0.2rem -0.2rem 0.4rem #fff;
}

textarea{
/* estilos */
  outline: none;
  padding: 1rem 3rem;
  border-radius: 50px;
  border: none;
  box-shadow: inset 0.6rem 0.6rem 1.2rem #cfcfcf,
      inset -0.6rem -0.6rem 1.2rem #fff;
  transition: all 0.3s ease-in-out;
}
textarea:hover{
  box-shadow: inset 0.2rem 0.2rem 0.4rem #cfcfcf,
      inset -0.2rem -0.2rem 0.4rem #fff;
}



button {
    margin-top: 20px;
   padding: 1rem 3rem;
   outline: none;
   padding: 1rem 3rem;
   border-radius: 50px;
   border: none;
   box-shadow: inset 0.6rem 0.6rem 1.2rem #cfcfcf,
      inset -0.6rem -0.6rem 1.2rem rgb(24, 22, 22);
   transition: all 0.3s ease-in-out;
 
}

button:hover {
   box-shadow: 1.4rem 1.4rem 2.8rem #cfcfcf, -1.4rem -1.4rem 2.8rem #fff;
}

